.DS_Store
*~

*.soln.sv

*.tgz

*.vcd
*.fst
__pycache__
run
build
lint
results.json
verilator.json
icarus.json

ice40.bin
ice40.asc
ice40.rpt

ice40.json

abstract.json

mapped.json

*.nplog
*.yslog
*.svg
*.pdf
*.bin